<style>
body {
	margin: 0 auto;
}
#nav ul {
	padding: 0 0;
	margin: 0 auto;
	list-style: none;
}
#nav {
	width: 100%;
	height: 2.0em; 
	padding: 0 0;
	margin: 0 auto;
	list-style: none;
	background-color: #3a3e40;
	z-index: 1;
}
.nav-left { 
	float: left;
	width: 3em;
	color: #d1d1d1;
	font: 80% Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height: 2.4em;
}
.nav-right {
	float: right;
	width: 6em;
	color: #d1d1d1;
	font: 80% Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height: 2.4em;
	position: relative;
	z-index: 2;
}
#nav a:link, #nav a:visited {
	display: block;
	text-decoration: none;
	color: #d1d1d1;
}
#nav ul { 
	display: none;
	position: absolute;
}
#nav ul li {
	float: none;
	margin: auto 0;
	background-color: #fff;
}
.nav-cart-logo {
	width: 100%;
	height: 100%;
}
.nav-cart-logo em {
	position: absolute;
	width: 10px;
	height: 15px;
	float: left;
	top: 3px;
	left: 55px;
  	font-style: normal;
  	border-radius: 7px;
  	border: 1px solid #fff;
	background-color: #fff;
	color: #a50017;
	line-height: 13px;
	font-size: 10px;
	text-align: center;
}
.nav-cart-content {
	width: 311px;
	height: 100%;
}
.nav-cart-item {
	width: 311px;
	height: 252px;
	background-image: url(${pageContext.request.contextPath }/images/nav-cart-bg1.png);
}
#nav-cart-list {
	width: 311px;
	max-height: 252px;
	overflow: scroll;
	overflow-x: hidden;
	background-color: #fff;
}
.nav-cart {
	color: #6e6e6e;
	width: 24.5em;
	height: 7em;
	border-bottom: 1px dashed #6e6e6e;
	padding-right: 15px;
	overflow: hidden;
}
#nav-cart-title {
	margin: auto 0;
	float: none;
}
#nav-cart-turn {
	margin: auto 0;
	float: right;
	color: #6e6e6e;
}
.nav-cart-img {
	position: relative;
	float: left;
	width: 54px;
	height: 54px;
	margin: 15px 0 15px 6px;
}
.nav-cart-name {
	width: 100px;
	height: 28px;
	margin: 14px 0 42px 23px;
	overflow: hidden;
	float: left;
}
.nav-cart-action {
	margin: 14px 0 14px 0;
	float: right;
}
.nav-cart-action a {
	margin: 0 0 0 50px;
}
.nav-cart-welcome {
	width: 311px;
	border-bottom:none;
	padding: 28px 15px 28px 15px;
}
.nav-self {
	width: 6em;
	box-shadow: 1px 1px 10px #6e6e6e;
	border-bottom: 1px dashed #b3b3b3;
	margin-left: 1.0em;
}
.nav-self a {
	margin-left: 1.0em;
}
#nav li:hover ul {
	display: block;
}
</style>