<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.booksales.dao.BookMapper" >
  <resultMap id="BaseResultMap" type="com.booksales.model.Book" >
    <id column="BookId" property="bookid" jdbcType="INTEGER" />
    <result column="BookName" property="bookname" jdbcType="VARCHAR" />
    <result column="Author" property="author" jdbcType="VARCHAR" />
    <result column="Publish" property="publish" jdbcType="VARCHAR" />
    <result column="ISBN" property="isbn" jdbcType="VARCHAR" />
    <result column="PublishDate" property="publishdate" jdbcType="TIMESTAMP" />
    <result column="Picture" property="picture" jdbcType="VARCHAR" />
    <result column="Repertory" property="repertory" jdbcType="CHAR" />
    <result column="Price" property="price" jdbcType="DECIMAL" />
    <result column="InStock" property="instock" jdbcType="INTEGER" />
    <result column="Sales" property="sales" jdbcType="INTEGER" />
    <result column="BookClassifyId" property="bookclassifyid" jdbcType="INTEGER" />
    <result column="IsRecommend" property="isrecommend" jdbcType="CHAR" />
    <result column="Introduction" property="introduction" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bsbook
    where BookId = #{bookid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.booksales.model.Book" >
    <selectKey resultType="java.lang.Integer" keyProperty="bookid" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bsbook (BookId, BookName, Author, 
      Publish, ISBN, PublishDate, 
      Picture, Repertory, Price, 
      InStock, Sales, BookClassifyId, 
      IsRecommend, Introduction)
    values (#{bookid,jdbcType=INTEGER}, #{bookname,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{publish,jdbcType=VARCHAR}, #{isbn,jdbcType=VARCHAR}, #{publishdate,jdbcType=TIMESTAMP}, 
      #{picture,jdbcType=VARCHAR}, #{repertory,jdbcType=CHAR}, #{price,jdbcType=DECIMAL}, 
      #{instock,jdbcType=INTEGER}, #{sales,jdbcType=INTEGER}, #{bookclassifyid,jdbcType=INTEGER}, 
      #{isrecommend,jdbcType=CHAR}, #{introduction,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.booksales.model.Book" >
    update bsbook
    set BookName = #{bookname,jdbcType=VARCHAR},
      Author = #{author,jdbcType=VARCHAR},
      Publish = #{publish,jdbcType=VARCHAR},
      ISBN = #{isbn,jdbcType=VARCHAR},
      PublishDate = #{publishdate,jdbcType=TIMESTAMP},
      Picture = #{picture,jdbcType=VARCHAR},
      Repertory = #{repertory,jdbcType=CHAR},
      Price = #{price,jdbcType=DECIMAL},
      InStock = #{instock,jdbcType=INTEGER},
      Sales = #{sales,jdbcType=INTEGER},
      BookClassifyId = #{bookclassifyid,jdbcType=INTEGER},
      IsRecommend = #{isrecommend,jdbcType=CHAR},
      Introduction = #{introduction,jdbcType=LONGVARCHAR}
    where BookId = #{bookid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select BookId, BookName, Author, Publish, ISBN, PublishDate, Picture, Repertory, 
    Price, InStock, Sales, BookClassifyId, IsRecommend, Introduction
    from bsbook
    where BookId = #{bookid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select BookId, BookName, Author, Publish, ISBN, PublishDate, Picture, Repertory, 
    Price, InStock, Sales, BookClassifyId, IsRecommend, Introduction
    from bsbook
  </select>
</mapper>