<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.booksales.dao.CartMapper" >
  <resultMap id="BaseResultMap" type="com.booksales.model.Cart" >
    <id column="CartId" property="cartid" jdbcType="INTEGER" />
    <result column="UserId" property="userid" jdbcType="INTEGER" />
    <result column="UserName" property="username" jdbcType="VARCHAR" />
    <result column="BookId" property="bookid" jdbcType="INTEGER" />
    <result column="BookName" property="bookname" jdbcType="VARCHAR" />
    <result column="BookNum" property="booknum" jdbcType="INTEGER" />
    <result column="Amount" property="amount" jdbcType="DECIMAL" />
    <result column="OrderId" property="orderid" jdbcType="INTEGER" />
  </resultMap>
  <!-- 根据图书idlist 查询cart集合 -->
  <select id="selectListBookId" resultMap="BaseResultMap">
  	 select CartId, UserId, UserName, BookId, BookName, BookNum, Amount, OrderId
        from bscart where BookId in  
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">  
        #{item}  
        </foreach>
  </select>
  <!-- 根据cartid集合查询cart集合 -->
  <select id="selectListCartId" resultMap="BaseResultMap">
  	select CartId, UserId, UserName, BookId, BookName, BookNum, Amount, OrderId
        from bscart where CartId in  
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">  
        #{item}  
        </foreach>
  
  </select>
  <update id="updateCartOrderId" parameterType="com.booksales.model.Cart" >
  update bscart Set OrderId =#{orderid,jdbcType=INTEGER} where  CartId = #{cartid,jdbcType=INTEGER}
  
  </update>
 
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bscart
    where CartId = #{cartid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.booksales.model.Cart" >
   
    insert into bscart ( UserId, UserName, 
      BookId, BookName, BookNum, 
      Amount, OrderId)
    values ( #{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, 
      #{bookid,jdbcType=INTEGER}, #{bookname,jdbcType=VARCHAR}, #{booknum,jdbcType=INTEGER}, 
      #{amount,jdbcType=DECIMAL}, #{orderid,jdbcType=INTEGER})
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.booksales.model.Cart" >
    update bscart
    set UserId = #{userid,jdbcType=INTEGER},
      UserName = #{username,jdbcType=VARCHAR},
      BookId = #{bookid,jdbcType=INTEGER},
      BookName = #{bookname,jdbcType=VARCHAR},
      BookNum = #{booknum,jdbcType=INTEGER},
      Amount = #{amount,jdbcType=DECIMAL},
      OrderId = #{orderid,jdbcType=INTEGER}
    where CartId = #{cartid,jdbcType=INTEGER}
  </update>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select CartId, UserId, UserName, BookId, BookName, BookNum, Amount, OrderId
    from bscart
    where CartId = #{cartid,jdbcType=INTEGER}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap" >
    select CartId, UserId, UserName, BookId, BookName, BookNum, Amount, OrderId
    from bscart
  </select>
  <select id="selectUserCart" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
  select CartId, UserId, UserName, BookId, BookName, BookNum, Amount, OrderId
    from bscart
    where UserId = #{userid,jdbcType=INTEGER}
  </select>
  <select id="selectByBookId" resultMap="BaseResultMap" parameterType="com.booksales.model.Cart">
   select CartId, UserId, UserName, BookId, BookName, BookNum, Amount, OrderId
    from bscart
    where UserId = #{userid,jdbcType=INTEGER} and BookId =#{bookid,jdbcType=INTEGER}
  </select>
</mapper>