<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.booksales.dao.ReceiverMapper" >
  <resultMap id="BaseResultMap" type="com.booksales.model.Receiver" >
    <id column="ReceiverId" property="receiverid" jdbcType="INTEGER" />
    <result column="UserId" property="userid" jdbcType="INTEGER" />
    <result column="ReceiverName" property="receivername" jdbcType="VARCHAR" />
    <result column="ReceiverTel" property="receivertel" jdbcType="CHAR" />
    <result column="ReceiverAddress" property="receiveraddress" jdbcType="VARCHAR" />
     <result column="ReceiverCode" property="receivercode" jdbcType="VARCHAR" />
  </resultMap>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bsreceiver
    where ReceiverId = #{receiverid,jdbcType=INTEGER}
  </delete>
  <!-- 插入收货地址，并返回该条记录的receiverid -->
  <insert id="insert" useGeneratedKeys="true" keyProperty="receiverid" parameterType="com.booksales.model.Receiver" >
    insert into bsreceiver (UserId, ReceiverName, 
      ReceiverTel, ReceiverAddress,ReceiverCode)
    values (#{userid,jdbcType=INTEGER}, #{receivername,jdbcType=VARCHAR}, 
      #{receivertel,jdbcType=CHAR}, #{receiveraddress,jdbcType=VARCHAR},#{receivercode,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insert2" parameterType="com.booksales.model.Receiver" >
    <selectKey resultType="java.lang.Integer" keyProperty="receiverid" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bsreceiver (ReceiverId, UserId, ReceiverName, 
      ReceiverTel, ReceiverAddress)
    values (#{receiverid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{receivername,jdbcType=VARCHAR}, 
      #{receivertel,jdbcType=CHAR}, #{receiveraddress,jdbcType=VARCHAR})
  </insert>
  
  
  <update id="updateByPrimaryKey" parameterType="com.booksales.model.Receiver" >
    update bsreceiver
    set UserId = #{userid,jdbcType=INTEGER},
      ReceiverName = #{receivername,jdbcType=VARCHAR},
      ReceiverTel = #{receivertel,jdbcType=CHAR},
      ReceiverAddress = #{receiveraddress,jdbcType=VARCHAR}
    where ReceiverId = #{receiverid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select ReceiverId, UserId, ReceiverName, ReceiverTel, ReceiverAddress
    from bsreceiver
    where ReceiverId = #{receiverid,jdbcType=INTEGER}
  </select>
  
  <select id="selectUserReceiver" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  select ReceiverId, UserId, ReceiverName, ReceiverTel, ReceiverAddress
    from bsreceiver
    where UserId = #{userid,jdbcType=INTEGER}
  
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap" >
    select ReceiverId, UserId, ReceiverName, ReceiverTel, ReceiverAddress,ReceiverCode
    from bsreceiver
  </select>
</mapper>