<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.booksales.dao.ReviewMapper" >
  <resultMap id="BaseResultMap" type="com.booksales.model.Review" >
    <id column="ReviewId" property="reviewid" jdbcType="INTEGER" />
    <result column="UserId" property="userid" jdbcType="INTEGER" />
    <result column="BookId" property="bookid" jdbcType="INTEGER" />
    <result column="ReviewTime" property="reviewtime" jdbcType="TIMESTAMP" />
    <result column="ReviewContext" property="reviewcontext" jdbcType="VARCHAR" />
    <result column="ReviewLevel" property="reviewlevel" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bsreview
    where ReviewId = #{reviewid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.booksales.model.Review" >
    <selectKey resultType="java.lang.Integer" keyProperty="reviewid" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bsreview (ReviewId, UserId, BookId, 
      ReviewTime, ReviewContext, ReviewLevel
      )
    values (#{reviewid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{bookid,jdbcType=INTEGER}, 
      #{reviewtime,jdbcType=TIMESTAMP}, #{reviewcontext,jdbcType=VARCHAR}, #{reviewlevel,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.booksales.model.Review" >
    update bsreview
    set UserId = #{userid,jdbcType=INTEGER},
      BookId = #{bookid,jdbcType=INTEGER},
      ReviewTime = #{reviewtime,jdbcType=TIMESTAMP},
      ReviewContext = #{reviewcontext,jdbcType=VARCHAR},
      ReviewLevel = #{reviewlevel,jdbcType=INTEGER}
    where ReviewId = #{reviewid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select ReviewId, UserId, BookId, ReviewTime, ReviewContext, ReviewLevel
    from bsreview
    where ReviewId = #{reviewid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ReviewId, UserId, BookId, ReviewTime, ReviewContext, ReviewLevel
    from bsreview
  </select>
</mapper>